<% provide(:title, @time_period.start) %>
<h1><%= @time_period.start %></h1>
<ul id="time_entries">
  <%= render @time_entries %>
</ul>
<div>
  <%= link_to '+', new_time_entry_path(:time_period_id => @time_period.id), remote: true %>
</div>

<%= link_to t('.back_to_list'), time_periods_path %>
