<% provide(:title, @project.name) %>
<h1><%= @project.name %></h1>
<ul>
  <% for user in @project.users %>
    <li><%= link_to user.name, user_path(user) %></li>
  <% end %>
  
</ul>
<%= link_to t('.back_to_list'), projects_path %>