<li>
  <%= link_to role.name, role %>
  <%= link_to t('link.edit'), edit_role_path(role) %>
  <% if current_user.admin? %>
    | <%= link_to t('link.delete'), role, method: :delete,
                  data: { confirm: t('confirm.delete')} %>
  <% end %>
</li>