<% provide(:title, t('.title')) %>
<% provide(:button_text, t('button.update')) %>
<h1><%= t '.title' %></h1>

<%= form_for(@role) do |f| %>
  <%= render 'form' %>
<% end %>
<%= link_to t('link.cancel'), roles_path %>