<% provide(:title, @role.name) %>
<h1><%= @role.name %></h1>
<ul>
  <% for user in @role.users %>
    <li><%= link_to user.name, user_path(user) %></li>
  <% end %>
  
</ul>
<%= link_to t('.back_to_list'), roles_path %>